<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <img width="150px" src="../../../assets/Images/User_Circle.png" />
        <h1>{{profile.fullName}}</h1>
        <h1>{{profile.roles[0]}}</h1>
        <h5></h5>
      </div>
    </div>
    <div class="right">
      <img width="0" src="../../../assets/Images/User_Circle.png" />
      <button class="asDeveloper">Register As Developer</button>
      <h1>PROFILE</h1>
      <label>Nama</label>
      <input  [(ngModel)]="profile.fullName" />

     
     
      <label>Tempat, Tanggal Lahir</label>
      <input  value="Palopo, 23 Februari 1979" readonly />

      <label>Email</label>
      <input  [(ngModel)]="profile.email" readonly />

      <label>Telepon</label>
      <input  value="08114810279" readonly />


      <label>Alamat</label>
      <textarea [(ngModel)]="profile.Address" >
        Jln. Ardipura No 23
        Jayapura
      </textarea>

      <label>I am a</label>
      <select [(ngModel)]="profile.role">
        <option
            *ngFor="let option of Roles; index as i"
            [selected]="option === Guest">
            {{ option }}
        </option>
      </select>


      <label *ngIf="ChangeIdentityLabel('Student')">NPM</label>
      <label *ngIf="ChangeIdentityLabel('Teacher')">NIDN</label>
      <input [(ngModel)]="profile.identityNumber" *ngIf="ChangeIdentityLabel('Student') ||ChangeIdentityLabel('Teacher')" />

      <button class="asDeveloper" (click)=updateProfile(profile)>Update Profile</button>
    </div>

  </div>

  <div class="ocphMark">
    <label>Ocph23 - STIMIK SEPNOP JAYAPURA @2019</label>
  </div>
</div>
