<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <img width="150px" src="../../../assets/Images/User_Circle.png" />
        <h1>YOSEPH KUNGKUNG</h1>
        <h1>MAHASISWA</h1>
        <h5></h5>
      </div>
    </div>
    <div class="right">
      <img width="0" src="../../../assets/Images/User_Circle.png" />
      <button class="asDeveloper">Register As Developer</button>
      <h1>PROFILE</h1>
      <label>Nama</label>
      <input  value="Yoseph Kungkung" readonly />

      <label>Panggilan</label>
      <input  value="Ocph" readonly />

      <label>NPM</label>
      <input  value="2015 11 099" readonly />

      <label>Angkatan</label>
      <input  value="2015/2016" readonly />

      <label>Tempat, Tanggal Lahir</label>
      <input  value="Palopo, 23 Februari 1979" readonly />

      <label>Email</label>
      <input  value="Ocph23@gmail.com" readonly />

      <label>Telepon</label>
      <input  value="08114810279" readonly />


      <label>Alamat</label>
      <textarea readonly >
        Jln. Ardipura No 23
        Jayapura

      </textarea>

      

    </div>
  </div>

  <div class="ocphMark">
    <label>Ocph23 - STIMIK SEPNOP JAYAPURA @2019</label>
  </div>
</div>
