<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <img width="150px" src="../../../assets/Images/User_Circle.png" />
        <h1>One Account</h1>
        <h1>FOR ALL STIMIK APPS</h1>
        <h5>STIMIK SEPNOP JAYAPURA</h5>
      </div>
    </div>
    <div class="right">
      <img width="0" src="../../../assets/Images/User_Circle.png" />
      <h1>Login</h1>
      <form [formGroup]="model" (ngSubmit)="login(model.value)">
        <label>User Name</label>
        <input  formControlName="userName"  type="text"/>
        <label>Password</label>
        <input  type="text" formControlName="password" />
        <button class="btn btn-primary" type="submit" >Login</button>
      </form>
      <a href="/register" class="btn btn-primary">Forgot Password</a>
      <a href="/register" class="btn btn-primary">Not Have Account ? Register Here</a>
    </div>
  </div>

  <div class="ocphMark">
    <label>Ocph23 @2019</label>
  </div>
</div>
