<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <h1>One Account</h1>
        <h1>FOR ALL STIMIK APPS</h1>
        <h5>STIMIK SEPNOP JAYAPURA</h5>
      </div>
    </div>
    <div class="right">
      <h1>Register</h1>
      <form [formGroup]="model" (ngSubmit)="register(model.value)">
        <label>First Name</label>
      <input formControlName="firstName" class="ng-valid" required />

      <label>Last Name</label>
      <input type="text"  formControlName="lastName" class="ng-valid" required/>

      <label>Email</label>
      <input type="email" formControlName="email" class="ng-valid" required />

      <label>Password</label>
      <input type="password" formControlName="password" class="ng-valid" required/>

      <label>Confirm Password</label>
      <input type="password"  formControlName="confirmPassword" class="ng-valid" required/>

      <label>Register As</label>
      <select formControlName="role">
        <option
            *ngFor="let option of Roles; index as i"
            [selected]="option === Guest">
            {{ option }}
        </option>
      </select>

      <label *ngIf="ChangeIdentityLabel('Student')">NPM</label>
      <label *ngIf="ChangeIdentityLabel('Teacher')">NIDN</label>
      <input formControlName="identityNumber" *ngIf="ChangeIdentityLabel('Student') ||ChangeIdentityLabel('Teacher')" />

      <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
  
  <div class="ocphMark">
        <label>Ocph23 @2019</label>
      </div>
</div>



<style>
.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}</style>