<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <h1>One Account</h1>
        <h1>FOR ALL STIMIK APPS</h1>
        <h5>STIMIK SEPNOP JAYAPURA</h5>
      </div>
    </div>
    <div class="right">
      <h1>Register</h1>
      <label>First Name</label>
      <input />

      <label>Last Name</label>
      <input type="password" />

      <label>Email</label>
      <input />

      <label>Password</label>
      <input type="password" />

      <label>Confirm Password</label>
      <input type="password" />

      <label>I am Is</label>
      <select>
        <option>Guest</option>
        <option>Guest</option>
      </select>

      <button class="btn btn-primary">Register</button>
    </div>
  </div>
  
  <div class="ocphMark">
        <label>Ocph23 @2019</label>
      </div>
</div>
