.main {
  height: 100vh;
  background-image: linear-gradient(to right, rgb(145, 21, 42), rgb(241, 4, 95));
  .ocphMark {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .main-column {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr minmax(400px, 1fr);
    grid-template-rows: 1fr 3fr;
    .logo {
      grid-column: 1/2;
      text-align: center;
      height: auto;
      background-color: transparent;
      img {
        margin: auto;
        width: 150px;
        margin-top: 20px;
      }
    }
    .left {
      grid-column: 1;
      grid-column: max(499px, 0);
      grid-row: 2/3;
      background: transparent;
      padding: 50px;
      color: white;
     
      .left-content {
        text-align: center;
        vertical-align: middle;
      }
    }
    .right {
      grid-column: 2/3;
      grid-row: 1/3;
      box-shadow: 1px;
      padding: 50px;
      background-color: rgb(255, 255, 255);
      input,
      textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 3px;
      }

     
    }
  }
}

a {
  margin: 20px 0px;
  display: block;
}

.asDeveloper {
  right: 10px;
}

@media (max-width: 600px) {
  .main {
    .main-column {
      grid-template-columns: 0px 100%;
      .logo {
        grid-column: 1/3;
        img {
          margin: auto;
          width: 100px;
          padding: 10px;
        }
      }

      .right{
        grid-row: 2/3;
        padding: 10px 30px;
      }
    }
  }
}
