<div class="main">
  <div class="main-column">
    <div class="left">
      <div class="left-content">
        <img width="50px" src="../../../assets/Images/User_Circle.png" />
        <h4>YOSEPH KUNGKUNG</h4>
        <h4>Developer</h4>
      </div>
    </div>
    <div class="right">
      <img width="0" src="../../../assets/Images/User_Circle.png" />
      <h1>APPLICATION</h1>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Online Voting</td>
            <td>23/2/2019</td>
            <td>30/8/2019</td>
            <td>Aktif</td>
            <td><a>Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ocphMark">
    <h6>Ocph23 - STIMIK SEPNOP JAYAPURA @2019</h6>
  </div>
</div>
